// colors
$blue: #007bff;
$hover-blue: #0069d9;
$light-blue: #47a3ef;
$progress-bar-bg: #2a3744;
$progress-bar-color: #2299dd;
$red: #dc3545;
$grey: #6c757d;
$grey-hover: #5a6268;
$dark-grey: #343a40;
$dark-grey-hover: #23272b;
$react-cyan: #61dafb;
$firebase-yellow: #ffcc31;
// background
$white-bg: #f6f6f6;
// text
$text-dark: #212529;
$text-light: #fcfdff;
