// colors
$blue: #007bff;
$hover-blue: #0069d9;
$light-blue: #47a3ef;
$red: #dc3545;
$grey: #6c757d;
$grey-hover: #5a6268;
$dark-grey: #343a40;
$dark-grey-hover: #23272b;
$react-cyan: #61dafb;
$firebase-yellow: #ffcc31;
// progress bar
$progress-bar-bg: #2a3744;
$progress-bar-color: #2299dd;
// background
$light-bg: #f6f6f6;
$dark-bg: rgb(25, 27, 28);
// text
$dark-text: #212529;
$light-text: #fcfdff;
