@import './variables';
@import './mixins';

// this file works as an index for all the global sass files (add as needed) which you will need to import in your components

// detect if the system is in dark mode
@media (prefers-color-scheme: dark), (prefers-dark-interface) {
	body {
		background-color: $dark-bg !important;
		color: $light-text !important;
	}
	.navbar a.navbar-brand {
		color: $light-text;
	}
	.modal .modal-content {
		background-color: $dark-bg;
	}
	footer .MainFooter__content {
		border-top-color: transparentize($light-bg, 0.9);
	}
}
